html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #e3e3e3;
}

* {
    box-sizing: border-box;
}

/*HEADER AND NAVIGATION*/

header {
    background-color: rgba(28, 28, 28, 0.98);
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding: 15px;
    display: flex;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

header h1 {
    margin: 0px;
    font-weight: normal;
    font-size: 100%;
}

header * {
    align-self: center;
}

header h1 {
    font-size: 200%;
}

header h1 .taxi {
    color: #F5D700;
}

header h1 .dotcom {
    font-size: 80%;
}

header nav a {
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px;
    display: inline-block;
}

header nav .ask-taxi-button {
    background-color: rgba(52, 128, 140, 0.94);
}

header nav .ask-taxi-button:hover {
    background-color: #34808c;
}

header nav .section-link:hover {
    color: #F5D700;
}

/*FIRST SECTION*/

.first-section {
    background: black url('../images/taxicostasol.jpeg') no-repeat fixed bottom center;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    display: flex;
    padding-top: 70px; /*Para compensar la barra de navegación.*/
}

.ask-taxi {
    align-self: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
}

.ask-taxi .title {
    font-size: 150%;
    text-align: center;
    background-color: rgba(37, 109, 140, 0.94);
    color: white;
    padding: 15px;
}

.ask-taxi .content {
    padding: 15px;
}

.ask-taxi .content h3 {
    margin: 0px;
    padding: 5px 0px 5px 0px;
    text-transform: uppercase;
    color: #34808c;
    font-size: 100%;
}

@media (max-width: 1024px) {
    .first-section .form-row {
        display: block !important;
    }

    .first-section form label {
        display: block;
        margin: 10px 0px 3px 0px !important;
    }

    .first-section .address {
        width: 100%;
    }
}

@media (max-width: 900px) {
    .ask-taxi {
        width: 90%;
    }
}

@media (max-width: 800px) {
    header {
        display: block;
    }

    header h1 {
        width: 100%;
        font-size: 20px;
    }

    header nav {
        margin-top: 15px;
    }
}

.first-section form

.form-row {
    display: flex;
}

.form-row * {
    align-self: center;
}

.form-row .expand-1 {
    flex-grow: 1;
}

/*SECOND SECTION*/

.service-section {
    min-height: 100%;
    /*background: #59bbdb url('../images/taxi.png') no-repeat no-repeat left bottom;*/
    background: url('../images/taxi.png') no-repeat no-repeat left bottom, linear-gradient(to bottom, #3c8fd8 0%,#59bbdb 100%);
}

.section-header {
    background-color: #2d2d2d;
    margin: 0px;
    padding: 30px;
    color: white;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}

/*CONTACT SECTION*/

.contact-section {
    min-height: 100%;
    background: #e3e3e3 url('../images/mobile-phone.png') no-repeat no-repeat right center;
}

.contact-section form {
    width: 50%;
    margin: 50px auto 0px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 15px;
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
}

.contact-section form label {
    display: block;
    margin-top: 10px;
}

.contact-section input, .contact-section textarea, .contact-section select {
    width: 100%;
}

@media (max-width: 900px) {
    .contact-section form {
        width: 90%;
    }
}

/*CURTAIN*/
.curtain-container {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin: 10px;
    background: #34808c no-repeat center center;
    background-size: cover;
    box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.75);
}

.curtain-container.taxi {
    background-image: url('../images/taxi-driver.png');
}

.curtain-container.baby {
    background-image: url('../images/baby-boy.png');
}

.curtain-container.payment {
    background-image: url('../images/coins.png');
}

.curtain-container.package {
    background-image: url('../images/package.png');
}

.curtain-container.tourism {
    background-image: url('../images/photo-camera.png');
}

.curtain-container.wheelchair {
    background-image: url('../images/wheelchair.png');
}

.curtain {
    position: relative;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
    width: 200px;
    height: 200px;
    top: -100%;
    transition: top 0.5s;
    text-align: center;
}

.curtain .vertical-center {
    padding: 10px;
    display: table-cell;
    width: 200px;
    height: 200px;
    vertical-align: middle;
}

.curtain-container:hover .curtain {
    top: 0%;
}

/*FORMS*/

select, input, textarea {
    background-color: white;
    border: solid 1px #CACACA;
    outline: none;
    padding: 5px;
    font-size: 120%;
}

input {
    min-width: 50px;
}

select:focus, input:focus, textarea:focus {
    border-color: #f57800;
}
    /*BUTTONS*/

.button {
    border: solid 1px rgba(37, 109, 140, 0.94);
    background-color: white;
    color: rgba(37, 109, 140, 0.94);
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button.big {
    font-size: 120%;
    padding: 10px;
}

.button:hover {
    color: white;
    background-color: rgba(37, 109, 140, 0.94);
}
